[Unit]
Description=Transport Process
Requires=network.target
[Service]
Type=simple
User=root
ExecStart=python3 /usr/lib/python3/dist-packages/wirepas_gateway/transport_service.py --settings=/root/pi-gateway-source/transport_settings.yml
Restart=always
RestartSec=5
[Install]
WantedBy=multi-user.target
